<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello {name ?: "Qute"}</title>
    <style>
        body {
            background: rgb(9, 9, 121);
            background: linear-gradient(90deg, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
            color: #fff;
        }

        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>

<body>
    <h1>Hello <b>{result}</b></h1>

    <p>Create your web page using Quarkus RESTEasy & Qute</p>
</body>

</html>