/* Estilização para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilização para o cabeçalho da calculadora */
h1 {
    color: #333;
}

/* Estilização para o formulário da calculadora */
form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

/* Estilização para os campos de entrada e seleção */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização para o botão "Calcular" */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilização para o resultado */
h2 {
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}