<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>

<body>
    <h1>Resultado <b>{resultado ?: "Insira os valores"}</b></h1>

    <p>Insira os valores abaixo para realizar o cálculo desejado</p>

    <form action="/calculadora" method="post">
        <label for="valor1">Digite o primeiro valor:</label>
        <input type="number" id="valor1" name="valor1">
        </br>
        </br>
        <label for="valor2">Digite o segundo valor:</label>
        <input type="number" id="valor2" name="valor2">
        </br>
        </br>
        <select name="operador">
            <option>Soma</option>
            <option>Sub</option>
            <option>Mult</option>
            <option>Div</option>
        </select>
        </br>
        </br>
        <button type="submit">
            Calcular
        </button>
    </form>
</body>

</html>